.grid-container {
  display: grid;
  grid-template-columns: 5fr 5fr; /* 열을 기준으로 화면을 1:4:3 으로 나눔*/
  grid-template-rows: 20vh 80vh;
  grid-template-areas:
    "top"
    "bottom";
}

.section-top {
  grid-area: top;
  background-color: yellow;
}

.section-bottom {
  grid-area: bottom;
  background-color: green;
}

.modal-container {
  position: relative;
  grid-area: top / 1 / bottom / 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
