.card-body .top{
    border-top : 3px solid #000;
    border-bottom : 1px solid #999;
    background-color : #e6e6e6;
    font-weight : 600;
}

.card-body div{
    border-bottom : 1px solid #999;
}

.card-body div div{
    display : inline-block;
    border-bottom : none;
    text-align : center;
    border-right : 1px solid #999;
}

.card-body .file{
    border-right : none;
}

.card-body .top .title{
    text-align : center;
}

.card-body div .title{
    width : 40%;
    padding-top : 10px;
    padding-bottom : 10px;
    text-align : left;
}

.card-body div .name , .date {
    width : 12%;
    padding-top : 10px;
    padding-bottom : 10px;
}


.card-body div .num , .count , .file{
    width : 10%;
    padding-top : 10px;
    padding-bottom : 10px;
}

#datepicker {
    margin-bottom : 50px;
}

.file img{
    width : 25px;
    float:right;
    margin-right :85px;
    margin-top :10px;
}

.card-widget {
    width : 50%;
}