* {
    margin : 0;
    padding : 0;
}

li {
    list-style: none;
}

a {
    color : inherit;
    text-decoration : none;
}

.card {
    margin : 30px;
    padding : 30px;
}

.fixed{
    position:fixed;
}

.card-header {
    padding-bottom : 40px;
}

.card-body {
    margin-top : 40px;
}